@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.LandingPContainer {
    background-image: url(./Images/LP_BG.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.UserHomePageContainer {
    background-image: url(./Images/HomePage-BG2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes moveAndFlip {
    0% {
      transform: translateX(0px) scaleX(1);
    }


    100% {
        transform: translateX(300px) scaleX(1);
        filter: opacity(0);
    }

}



.truck {
    animation: moveAndFlip 4s ease-in-out infinite;
}