@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.LandingPContainer {
    background-image: url(./Images/LP_BG.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
}
